<footer class="footer">
    <div class="custom-social">
        <ul>
            <li>&copy; wvv8oo.com 2016</li>
            <li>
                <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=wvv8oo&amp;repo=m2m&amp;type=watch&amp;count=true" width="100" height="20" title="Star on GitHub"></iframe>
            </li>
            <li>
                <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=wvv8oo&amp;repo=m2m&amp;type=fork&amp;count=true" width="102" height="20" title="Fork on GitHub"></iframe>
            </li>
        </ul>
    </div>
</footer>

<link href="{{root/relative_path}}highlight/github.css" rel="stylesheet">
<script src="{{root/relative_path}}highlight/highlight.js"></script>

<script>
    hljs.initHighlightingOnLoad();
</script>
