<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <title>{{site.title}}</title>
</head>

<body>

<div class="container">
    {{> header}}

    <!-- Jumbotron -->
    <div class="jumbotron" style="border-bottom: 1px solid #EEE;">
        <h1>{{site.description}}</h1>
        <p class="lead">将Markdown转换为网站、博客或者邮件</p>
        <p><a role="button"  href="./install.html" class="btn btn-lg btn-success">立即安装</a></p>
    </div>

    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-4">
            <h2>生成网站</h2>
            <p>一键将Markdown生成博客或者网站，简单易用，还支持自定义主题，支持本地静态服务器预览...</p>
            <p><a class="btn btn-success" href="./markdown-to-site.html" role="button">查看 &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>生成邮件</h2>
            <p>周报神器，可以将Markdown转换为HTML的邮件，并发送至指定的收件人，可以设置常用收件人和主题...</p>
            <p><a class="btn btn-success" href="./markdown-to-mail.html" role="button">查看 &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>开源</h2>
            <p>
                完全开源，想干嘛干嘛...
            </p>
            <p><a class="btn btn-success" href="https://github.com/wvv8oo/m2m" target="_blank" role="button">Fork on Github &raquo;</a></p>
        </div>
    </div>

    <!-- Site footer -->
    {{> footer}}
</div> <!-- /container -->

</body>
</html>
